@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

.interest {
  margin-bottom: 112px;

  @include r(768) {
    margin-bottom: 80px;
  }

  @include r(576) {
    margin-bottom: 40px;
  }

  &__title {
    @include r(768) {
      margin-bottom: 30px;
      font-size: 30px;
    }

    @include r(576) {
      font-size: 25px;
    }

    @include r(376) {
      font-size: 20px;
    }
  }

  &__item {
    max-width: 0;
  }

  .interest-box {
    position: relative;

    .slick-initialized .slick-slide {
      width: 250px;
    }

    .slick-track {
      left: 16px;
      top: 1px;

      @include r(1200) {
        left: 1px;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      padding-top: 25px;

      li {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $silverdecor;
      }

      .slick-active button {
        background-color: $orange;
      }
    }

    .slick-list {
      height: 305px;
    }

    .slick-arrow {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      top: -35%;
      left: 94%;
      border: 3px solid $silverdecor;
      border-radius: 50%;
      width: 39px;
      height: 39px;
    }

    .slick-prev {
      transform: translate(-29px, 3px);
    }

    .slick-next {
      transform: translate(28px, 3px);
    }

  }

  .interest-box__item {
    @include r(1200) {
      max-width: 300px;
    }

    @include r(992) {
      max-width: 350px;
    }

    @include r(768) {
      max-width: 250px;
    }

    @include r(576) {
      max-width: 170px;
      margin-right: 5px;
    }
  }
}