html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.5;
  background-color: $silver200;
  color: $accent;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.title {
  font-weight: 500;
  color: $title;
  line-height: 130%;
  font-size: 36px;
  margin-bottom: 60px;
}

.sidebar__title {
  font-size: 24px;
  padding: 15px;
  line-height: 120%;
  border-bottom: 1px solid $silver100;
}

.sidebar__items {
  border: 1px solid $silver100;
  border-radius: 5px;
  background-color: $bg;
  margin-bottom: 30px;
}

.sidebar__item {
  padding: 22px 15px;
}

.section {
  padding-bottom: 120px;
}

.mixitup-control-active {
  background-color: $orange;
  color: $bg;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mixitup-control-active svg path {
  fill: $bg;
  transition: fill 0.3s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn {
  padding: 12px 32px;
  background-color: $orange;
  border-radius: 6px;
  color: $bg;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.active {
  color: $orange;
}

.animation {
  transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;

  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    outline: 0;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    color: $orange;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    border-radius: 5px;
    box-shadow: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}