$orange: #FF6838;
$silver100: #ECECEC;
$silver200: #F9FAFF;
$title: #363853;
$accent: #31352B;
$bg: #fff;

%rubik-300 {
  font-family: "Rubik";
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik";
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik";
  font-weight: 500;
}