<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SimpleFood | Доставка пищи</title>
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>

   {% include 'app/module/_header/_header.html' %}

  <main class="main">

{% include 'app/module/_category/_category.html' %}
{% include 'app/module/_delivery/_delivery.html' %}   
{% include 'app/module/_restaurant/_restaurant.html'%}   
{% include 'app/module/_coments/_coments.html' %}
{% include 'app/module/_mobile/_mobile.html' %}

  </main>

 {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>