@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

.coments {
  padding-top: 120px;
  margin-bottom: 123px;
  position: relative;

  @include r(768) {
    padding-top: 80px;
    margin-bottom: 60px;
  }

  @include r(576) {
    margin-bottom: 0;
  }

  @include r(376) {
    padding-top: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @include r(576) {
      font-size: 30px;
      margin-bottom: 30px;
    }

    @include r(375) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .coments-item {
    max-width: 990px;
    margin: 0 auto;
    line-height: 1.5;

    &__wrapper {
      display: flex;
      align-items: center;

      @include r(768) {
        flex-direction: column;
      }
    }

    &__images {
      border-radius: 50%;
      margin-right: 80px;

      @include r(992) {
        margin-right: 40px;
      }

      @include r(768) {
        width: 40%;
        margin-right: 0;
        margin-bottom: 20px;
      }

      @include r(576) {
        width: 30%;
        margin-right: 0;
        margin-bottom: 20px;
      }

      @include r(375) {
        max-width: 100px;
        margin-bottom: 28px;
      }
    }

    &__text {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 24px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::before {
        background-image: url('../../images/icons/quotedown.svg');
        transform: translate(-40px, 2px);

        @include r(375) {
          transform: translate(-33px, -7px);
        }
      }

      &::after {
        background-image: url('../../images/icons/quote.svg');
        transform: translate(-404px, -112px);

        @include r(768) {
          right: -437px;
        }

        @include r(576) {
          right: -430px;
        }

        @include r(375) {
          right: -437px;
          bottom: -27px;

        }
      }
    }

    &__quote {
      font-family: "Rubik";
      max-width: 570px;
      font-weight: 400;
      font-size: 20px;
      font-style: italic;
      margin-bottom: 30px;

      @include r(768) {
        max-width: 420px;
        font-size: 18px;
        margin-bottom: 20px;
      }

      @include r(576) {
        max-width: 267px;
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    &__name {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: $orange;
      margin-bottom: 15px;

      @include r(375) {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    &__food {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 44px;

    @include r(375) {
      margin-top: 35px;
    }

    li {
      button {
        font-size: 0;
        background-color: #C2C2C2;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;

        &:focus {
          box-shadow: 0 0 0 2px $orange;
        }

        &:hover {
          background: #FFF2ED;
          box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
        }

        &:active {
          background-color: #FFAE94;
        }

        @include r(768) {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-right: 15px;
      }

      &.slick-active {
        button {
          background-color: $orange;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -12px;
    left: 49%;
    z-index: 1;
    border: 3px solid #C2C2C2;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    @include r(768) {
      top: 25%;
    }

    @include r(576) {
      top: 13%;
    }

    @include r(375) {
      top: 7%;
    }

    &__img {
      &:focus {
        path {
          fill: #C2C2C2;
          transition: fill 0.2s ease-in;
        }
      }

      &:hover {
        path {
          fill: #FFAE94;
          transition: fill 0.2s ease-in;
        }
      }

      &:active {
        path {
          fill: $orange;
          transition: fill 0.2s ease-in;
        }
      }
    }
  }

  .slick-next {
    transform: translateX(83px);

    @include r(768) {
      transform: translateX(225px);
    }

    @include r(576) {
      transform: translateX(115px);
    }

    @include r(375) {
      transform: translateX(101px);
    }
  }

  .slick-prev {
    transform: translateX(-100px);

    @include r(768) {
      transform: translateX(-252px);
    }

    @include r(576) {
      transform: translateX(-140px);
    }

    @include r(375) {
      transform: translateX(-133px);
    }
  }

  .slick-next,
  .slick-prev {
    transition: background-color 0.2s ease-in, border 0.2s ease-in, box-shadow 0.2s ease-in;

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      border: 3px solid #C2C2C2;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: #FFF2ED;
      border: 3px solid #FFAE94;
    }

    &:active {
      background-color: #FFF2ED;
      border: 3px solid #FFF2ED;
      box-shadow: none;
    }
  }
}